body{
	padding: 0;
	margin: 0;
	background-color: #cad2d9;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

h2, p{
	color: #cad2d9;
}

h2{
	padding: 10px 0;
}

.container{
	position: relative;
	text-align: center;
	margin: 7rem auto 2rem auto;
}

.wrapper{
	padding: 20px;
	background-color: #404040;
	color: white;
	width: 500px;
	text-align: center;
	border-radius: 10px;
	display: inline-block;
}

.title{
	width: 20%;
    white-space: nowrap;
    color: #cecece;
    text-align: right;
    padding-right: 1em;
}

.input-field{
	padding: 8px;
	position: relative;
}

.input{
	width: 90%;
    padding: 3px 5px;
	margin: 0;
	border-radius: 5px;
	border: 0;
	outline: 0;
	background: #cad2d9;
}

.btn{
	border-radius: 5px;
	text-align: center;
	padding: 4px 12px;
	font-size: 15px; 
	width: 30%;
	border: none;
	outline:0;
	cursor: pointer;
	box-shadow: 0 1px 1px 0 #ccc;
	background-color: #cad2d9;
	margin: 20px 0;
}

.btn:hover{
	box-shadow: 0 2px 2px 0 white;
}

.link{
	padding: 6px 0;
}

.link a{
	color: grey;
}

.error-message{
	color: red;
	padding-bottom: 15px;
}

.toggler-ico{
	border: none;
	background: none;
	padding: 0;
	width: 15px;
	position: absolute;
	right: 26px;
	top: 12px;
}

.toggler-ico:focus{
	outline: none;
}

.toggler-ico:hover{
	cursor: pointer;
}

.form-wrapper{
	margin: 50px auto;
	width: 20%;
	background-color: #404040;
	color: white;
	padding: 30px;
	border-radius: 5px;
}

.form-container{
	margin-top: 20px;
}

.input-label{
	font-size: 14px;
}

.form-input{
	padding: 5px;
	outline: none;
	margin-left: 10px;
	width: 70%;
	border-radius: 5px;
	border: none;
}


.forgetBtn{
	position: relative;
	left: 100px;
	top: 20px;
}