body{
	margin: 0;
	padding: 0;
}

.basic-container, .additional-container{
	border: 1px solid #404040;
	background: #404040;
	color: #cad2d9;
	margin: 30px;
	padding: 20px 0px 20px 16px;
	width: 430px;
	box-shadow: 2px 3px 7px 3px #40807E;
	border-radius: 5px;
}

.additional-input{
	width: 100%;
    padding: 3px 5px;
	margin: 0;
	border-radius: 5px;
	border: 0;
	outline: 0;
	background: #cad2d9;
}

.save-btn, .edit-btn{
	border-radius: 5px;
	text-align: center;
	padding: 4px 12px;
	font-size: 15px;
	border: none;
	outline:0;
	cursor: pointer;
	box-shadow: 0 1px 1px 0 #ccc;
	background-color: #cad2d9;
	margin: 20px 0;
	position: relative;
	left: 170px;
	text-decoration: none;
	color: black;
}

.editbtn{
	top: 10px;
}

.save-btn:hover, .edit-btn:hover{
	box-shadow: 0 2px 2px 0 white;
}

.information-wrapper{
	display: flex;
	justify-content: center;
}

h4.header-align{
	text-align: center;
	padding: 20px;
}

.center{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	width: 90%;
}

td.additional, th.additional {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.additional a{
	text-decoration: none;
	color: #404040;
}

.additional a:hover{
	text-decoration: underline;
	color: #676666;
}
