<!DOCTYPE hmtl>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Forget Password</title>
	<link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="form-wrapper">
	<div style="color:green" th:if="${resetEmailSent}">Password Reset Email has been sent to you email address</div>
	<form th:action="@{/forgetPassword}" method="post">
		<div class="form-container">
			<label class="input-label" for="resetPassword">* Your Email</label>
			<input class="form-input" type="text" id="resetPassword" name="email" placeholder="Enter recovery email address" required="required" />
		</div>
		
		<button class="btn forgetBtn" type="submit">Submit</button>
	</form>
</div>
</body>
</html>