<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Deposit</title>
	<link href="/css/home.css" rel="stylesheet">
</head>
<head th:replace="header :: header"/>
<head th:replace="header :: navbar"/>
<body>
	<div class="withdraw-section content-position">
	<h4>Withdraw</h4>
		<form th:action="@{/home/accounts/withdraw}" method="post"> 
		<table>
			<tbody>
				<tr>
					<td class="title">
						<label for="amount">Amount</label>
					</td>	
					<td class="input-field">
						<input class="input" th:value="${amount}" type="text" name="amount" id="amount" required="required" placeholder="00.00">
					</td>
					<td class="input-field">
						<input class="input-currency input" type="text" name="currency" id="currency" value="EUR" readonly>
					</td>
				</tr>				
			</tbody>
		</table>
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<button class = "btn" type="submit">Withdraw</button>
		</form>
	</div>
</body>
</html>